<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      layout:fragment="content">
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center mb-4">
        <h1 class="h3 mb-0 text-gray"><i class="bi bi-people-fill mr-1"></i> 데이터</h1>
    </div>
    <div class="d-flex justify-content-between">
        <div class="text-left">
            <span class="text-gray">접수목록 <i class="mx-1 bi bi-caret-right-square"></i></span>
            <span class="text-gray-800 font-weight-bold" th:text="${landingTitle + ' 데이터'}"></span>
        </div>
        <form id="downloadForm" th:action="@{/excelDownload}" method="get">
            <input type="hidden" name="lNo" th:value="${landingNo}">
            <button class="btn btn-outline-primary m-0" id="excelDown"><i class="bi bi-download mr-1"></i>엑셀 다운로드</button>
        </form>
    </div>
    <hr class="sidebar-divider my-2">
    <div class="row py-3">
        <div class="col-xl-12">
            <div class="card border-left-primary shadow h-100">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><i class="bi bi-card-list mr-2"></i> 데이터 목록</h6>
                </div>
                <div class="card-body">
                    <table class="table-borderless w-100 text-center" id="dataTable">
                        <thead class="table-header">
                        <tr>
                            <th class="text-center py-1 pr-2" th:each="head: ${headList}" th:text="${head.korName}">No</th>
                            <th class="text-center pr-2">참여일</th>
                        </tr>
                        </thead>
                        <colgroup>
                            <col th:each="head : ${headList}" th:width="${(75 / headList.size()) + '%'}" />
                            <col width="20%">
                        </colgroup>
                        <tbody>
                        <tr class="details-table" th:each="itam : ${dataList}" th:data-id="${itam.dNo}">
                            <td class="py-1" th:each="num : ${#numbers.sequence(0, headList.size()-1)}"
                                th:text="${@jsonUtil.parseData(headList[num].keyName, itam.data)}"></td>
                            <td th:text="${#temporals.format(itam.regDate,'yyyy-MM-dd HH:mm:ss')}">2023-04-25 12:12:12</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        let indexLastColumn = $("#dataTable").find('tr')[0].cells.length-1;

        $('#dataTable').DataTable({
            info: true,
            stateSave: true,
            lengthChange: false,
            order: [indexLastColumn, 'desc'],
            ordering: true,
            serverSide: false,
            // 한 페이지당 표시 수
            lengthMenu: [10],
            // 언어 설정
            language: {
                url: "/demo/lang/ko.json"
            }
        })

        $('#excelDown').on('click', function () {
            loading.addClass('show')
            $('#downloadForm').submit()
            loading.removeClass('show')
        })
    })
</script>
</html>